* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  background-color: rgb(196, 196, 196);
  background-image: url("../tren-chihiro.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

@import "./luz.scss";
@import './sincara.scss';
@import './fondo.scss';

